<center>
<h1 class="">About this app</h1>

<p class="font">How many times have you asked a friend to go play soccer with you and they can't make it. Well with The Beautifli Game you no longer need to worry about that. We help you connect to people who are just as passionate with the sport as much as you are.</p>


<h1>How does it work?</h1>
<p class="font">To get started you need to sign up as a player and put in your basic information. You also have the option to put in your favorite team so that you may connect with fellow fans or with a rival as well.(Who doesn't like a good rivalry)</p>

<h1>About Me</h1>
<p class="font">My name is Marcos Freire. I've always had a passion for the sport of soccer and wanted more people to connect with one another. I was always shy of asking people to see if they want to play. So instead I can plan ahead and see where a game is being played at.</p>
</center>





