<h1>Add a new Player</h1>

<%= form_for @pickup do |f| %>

<p>Date Time	<%= f.text_field :date_time %></p>

<p>Drinks Provided	<%= f.text_field :drink_provided %></p>

<%= submit_tag "Add"%>

<% end %>